<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Sepetim</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>



<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>Sepetim</h2>
    
    <div th:if="${#lists.isEmpty(sepetElements)}">
    	<h4>Sepetinizde Ürün Bulunmamaktadır.</h4>
    	
    	<a href="/consumerProducts">Ürün Eklemek için tıklayınız ...</a>
    </div>
    <div th:if="${not #lists.isEmpty(sepetElements)}">
        
        <button type="button" class="btn btn-warning"><a href="viewCart/product/payment" onClick="alert('Ödemeniz Başarıyla Gerçekleşmiştir.');">Ödeme Yap</a></button>
                     
        <table class="table table-striped">
            <tr>
                
                <th>Title</th>
                <th>Subtitle</th>
                <th>Category</th>
                <th>Price</th>
                <th>Discount Price</th>
                <th>Discard</th>
               
                
            </tr>
            <tr th:each="cartElement : ${sepetElements}">
                
                 <td th:text="${cartElement.title}">Title</td>
                <td th:text="${cartElement.subtitle}">subtitle</td>
                <td th:text="${cartElement.category}">category</td>
                <td th:text="${cartElement.price}">price</td>
                <td th:text="${cartElement.disprice}">discount price</td>
                <td><a th:href="${'/cart/delete/' + cartElement.id}">Delete</a></td>
                
                
            </tr>
        </table>

    </div>
</div>

</body>
</html>