<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>


<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(sepetElements)}">
        <h2>Sepetim</h2>
        <table class="table table-striped">
            <tr>
                
                <th>Title</th>
                <th>Subtitle</th>
                <th>Category</th>
                <th>Price</th>
                <th>Discount Price</th>
               
                
            </tr>
            <tr th:each="cartElement : ${sepetElements}">
                
                 <td th:text="${cartElement.title}">Title</td>
                <td th:text="${cartElement.subtitle}">subtitle</td>
                <td th:text="${cartElement.category}">category</td>
                <td th:text="${cartElement.price}">price</td>
                <td th:text="${cartElement.disprice}">discount price</td>
                
                
            </tr>
        </table>

    </div>
</div>

</body>
</html>